@import "./util.less";

/*字体*/
@font-face {
  font-family: FZKaTong;
  src: url('../font/FZKaTong.ttf');
}

@font-face {
  font-family: ZHSRXT;
  src: url('../font/ZHSRXT.ttf');
}

@font-face {
  font-family: FZShouJinShu;
  src: url('../font/FZShouJinShu.ttf');
}
