@import "./util.less";

/*字体*/
@font-face {
  font-family: FZKaTong;
  src: url('../font/FZKaTong.ttf');
}

@font-face {
  font-family: ZHSRXT;
  src: url('../font/ZHSRXT.ttf');
}

@font-face {
  font-family: FZShouJinShu;
  src: url('../font/FZShouJinShu.ttf');
}

body {
  font-size: 14px;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  padding: 0;
  margin: 0;
}

.full-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mask {
  background-color: rgba(0, 0, 0, 0.31);
}

.oh {
  overflow: hidden;
}


body {
  position: relative;
  max-width: 640px;
  height: 100vh;
  overflow: hidden;
  display: block;
  background: #ccc;
  margin-left: auto;
  margin-right: auto;
}
